/*@supports (-webkit-touch-callout: none) {*/
	html.control {	
		background: rgb(214, 242, 208);
	}

	html.control body::before {
		content: ' ';

		position: fixed;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;

		border-radius: 10px;
		background: white;

		z-index: -10;
	}
/*}*/

.tagged:hover {
	cursor: crosshair;
	text-decoration: underline;
}

.control section.mass-text, .control body {
	overflow: hidden;
}

.linked {
	background: rgb(214, 242, 208);
	border-radius: 5px;
}

h2, h3 {
	font-size: 35px;
}
p, li, td {
	font-size: 26px;
	line-height: 1.2;
}
