---
---
@font-face {
	font-family: "Liturgy";
	src: url("liturgy.woff2") format("woff2");
}

@import 'missal-text-variables';

html {
	font-family: "Optima", serif;
}

html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: "Palatino", serif;
	margin-top: $title-space;
	margin-bottom: $paragraph-space;
}
h1 {
	text-align: left;
}
h1, h3 {
	font-variant: small-caps
}
h3 {
	border-bottom: 1px solid #DDD;
}

h2:first-child, h3:first-child {
	margin-top: 0;
}

.sticky-container h3, .sticky-container .stick {
	position: sticky;
	top: 0;
	background: white;
	box-shadow: white 0 0px $paragraph-space $paragraph-space;
}

/* Disable stickyness for javascript measurements */
.stick.js-measurement, .sticky-container h3.js-measurement {
	position: relative;
}

/* Do not apply sticky behavior to headers that are already inside a sticky element */
.stick h3 {
	position: relative;
}

.center { text-align: center }
.right p { text-align-last: right }
.italic {
	font-style: italic
}

p, li, td {
	font-size: 17px;
	line-height: 1.2;
}

p {
	text-align: justify;
	margin-top: $paragraph-space;
	margin-bottom: $paragraph-space;
}

section.mass-text {
	text-align: left;
	position: relative;	
}

ol li.refrain::before, .response::before {
	content: 'R.';
	font-family: "Liturgy", "Palatino", serif;
}

.response {
	font-weight: bold;
}

.role, .response:before, h2 {
	color: #ad0000;
}

.hidden {
	display: none;
}

@media (prefers-color-scheme: dark) {
	html {
		background: $dark-background-color;
		color: white;
	}

	.role, .response:before, h2 {
		color: #e22f75;
	}
	
	.sticky-container h3, .sticky-container .stick {
		background: $dark-background-color;
		box-shadow: $dark-background-color 0 0px $paragraph-space $paragraph-space;
	}

}