---
---

@import "video-layout-variables";
@import "missal-text-variables";

$video-width: 100vw;
$video-height: 56.25vw;

.bg-blue {
	background: #438dcc;
	a {
		color: white;
		text-decoration: none;

		svg, span {
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
		}
	}

	.Header-item {
		display: inline-block;
		vertical-align: middle;
		fill: white;
	}

	.container-lg {
		padding: 16px;
		max-width: 1012px;
	}
}

.player-container {
	position: relative;

	#player {	
		width:  $video-width  !important;
		height: $video-height !important;
		max-height: 100vh;
	}	
}

.mass-text-container {
	margin: 1em;
	overflow-y: scroll;
	height: calc(100vh - #{$video-height} - 2em);

	.mass-text {
		height: 100%;
		overflow-y: scroll;
	}
}

h1 {
	margin-left:  $window-margin ;
	margin-right: $window-margin ;
}

html {
	transition-property: background-color, color;
	transition-duration: 1s;
	min-height: 100%;
}

// Not enough height for text under video
@media only screen and (min-aspect-ratio: 16/12) {

	// small screens use two column layout
	@media only screen and (max-width: 59.999em) {
		$video-width: 50vw;
		$video-height: 28.125vw;

		h1 {
			width: 50vw;
			font-size: 1.5em;
		}

		.player-container {
			position: relative;
			text-align: left;
		
			#player {
				width:  $video-width  !important;
				height: $video-height !important;
			}
		}

		.mass-text-container {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50vw;
			right: 0;
			height: auto;

			margin-top: 0;
			margin-bottom: 0;
		}
	}

	// big screens use overlay
	@media only screen and (min-width: 60em) {

		html {
			background: black;
			color: white;
		}	

		.player-container:hover .mass-text-container {
			top: calc(#{$window-margin} + 60px);
			bottom: calc(#{$window-margin} + 40px);
		}

		.mass-text-container {
			color: black;
			height: auto;
		
			position: absolute;
			top: $window-margin;
			bottom: $window-margin;
			right: $window-margin;
			width: 20em;
			margin: 0;

			transition-property: top, bottom;
			transition-duration: 200ms;

			.background {
				background: rgba(255, 255, 255, 0.75);
				-moz-backdrop-filter: blur(15px);
				-webkit-backdrop-filter: blur(15px);
				backdrop-filter: blur(15px);
				width: 100%;
				height: 100%;
				border-radius: 5px;
			}

			.mass-text {
				position: absolute;
				top: 1em;
				bottom: 1em;
				right: 1em;
				left: 1em;
				height: auto;
		
				mix-blend-mode: multiply;
			}
		}

		@media screen and (prefers-color-scheme: dark) {
			.sticky-container h3, .sticky-container .stick {
				background: white;
				box-shadow: white 0 0px $paragraph-space $paragraph-space;
			}
		}

		@media screen and (max-height: 56.25vw) {
			.player-container #player {
				width: 177.7778vh !important;
			}

			@media screen and (min-width: calc(177.7778vh + 20em + #{$window-margin} * 2)) {
				.player-container:hover .mass-text-container {
					top: $window-margin;
					bottom: $window-margin;
				}
				
				$padding: calc((100vw - 177.7778vh - 20em - #{$window-margin}) / 2);
				.mass-text-container {
					left: calc(177.7778vh + #{$window-margin});
					right: auto;
				}
				.player-container {left: $padding;}
			}
		}

	}
}